.wrapper {
	margin: 0 auto;
	width: 100%;
	max-width: 1300px;
}

.adm__button {
	background-color: #111827;
	border: 1px solid transparent;
	border-radius: .75rem;
	box-sizing: border-box;
	color: #FFFFFF;
	cursor: pointer;
	flex: 0 0 auto;
	font-family: "Segoe UI";
	font-size: 1.125rem;
	font-weight: 600;
	padding: .75rem 1.2rem;
	text-align: center;
	text-decoration: none #6B7280 solid;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	width: 250px;
	margin-bottom: 10px;
}

.adm__button:hover {
  background-color: #374151;
}

.adm__button:focus {
  box-shadow: none;
  outline: 2px solid transparent;
  outline-offset: 2px;
}

body {
	font-family: 'Roboto', sans-serif;
}

body .main{
	background: #fff url(../img/main-gradient.png) repeat-x top;
}

a:hover {
	text-decoration: none;
}

.main__last_info a:visited {
	color: #005aa8;
	text-decoration: none;
}

#site-name a:visited {
	color: #1a3051;
}

.alert {
	padding: 20px;
	color: white;
	margin-bottom: 15px;
	font-family: 'Segoe UI', sans-serif;
	border: 1px solid #666;
	box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.25);
}

.alert-success {
	background-color: #7eec18;
}

.alert-info {
	background-color: #ffea2a;
}

.alert-error {
	background-color: #f82d2d;
}

.logo__inner {
	padding: 10px 25px 0px 25px;
	display: flex;
	justify-content: space-between;
}

.logo__link {
	border-right: 2px solid #000;
	padding: 2px 10px;
	color: #005aa8;
	font-size: 15px;
}

.logo__link:last-child{
	border-right: 2px solid transparent;
}

.logo__list {
	margin-right: 15px !important;
}

.logo__second {
	display: flex;
	justify-content: space-between;

}

.logo__country {
	margin-top: 25px;
}

.logo__country-item {
	margin: 0 5px;
}

.logo__main {
	display: flex;
	align-items: center;
}

#site-name {
	font-size: 28px;
	color: #1a3051;
	margin-left: 20px;
	font-weight: 400;
}

.navbar {
	background: #1a3051;
}

.header__inner {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 20px 50px;
}

.header__link {
	color: #fff;
	font-size: 15px;
	padding: 0 5px;
}

.header__input-item {
	height: 30px;
	min-width: 210px;
	box-shadow: inset 0 2px 4px -1px rgba(0, 0, 0, 0.6);
	background: url(../img/search-icon.png) no-repeat right 0;
	background-color: #fff;
	margin-right: -40px;
	float: right;
}

.header__social img{
	margin-right: 5px;
}

.main__nav {
	display: flex;
	align-items: center;
	width: 320px;
	margin: 20px 0px 10px 20px;
	border-bottom: #eee 1px solid;
	padding-bottom: 10px;
}

.main__nav-link {
	color:#005aa8;
	font-size: 15px;
}

.main__symbol {
	padding: 0px 5px;
}

.main__text {
	font-size: 15px;
}

.main__wrapper {
	background: #fff url(../img/shadow-under-slider.png) repeat-x top;
	background-color: #fff;

	margin-top: -20px;
	padding: 5px 20px;
	min-height: calc(100vh - 170px);
}

.footer {
	/* position: absolute; */
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #1a3051;
	height: 200px;
	padding: 35px 0;
}

.footer__wrapper {
	margin-left: 170px;
}

.footer_block {
	vertical-align: top;
	color: white;
	display: inline-block;
	float: center;
	margin-right: 20px;
	font: inherit;
	width: 230px;
}

.footer_block_title {
	margin-bottom: 9px;
}

.footer_block_content {
	font-size: .75em;
	font-size: 11px;
	line-height: normal;
}

.footer_block_content address {
	font-style: normal;
}

.footer_block img {
	float: left;
	margin-right: 10px;
}

.old_version_text {
	display: flex;
	justify-content: center;
	color: white;
	margin-top: 25px;
	text-decoration: underline;
	font-size: 13px;
	letter-spacing: 1px;
	margin-left: -100px;
}

.old_version_text {
	animation: old_version_text 2s alternate-reverse infinite;
}

@-webkit-keyframes old_version_text {
	100% { color: rgba(0, 0, 0, 0); }
}

@keyframes old_version_text {
	100% { color: rgba(0, 0, 0, 0); }
}

.header__menu {
	text-align: center;
}

.header__menu ul {
	display: flex;
}

.header__menu > ul li a {
	display: block;
	padding: 20px 10px 20px 10px;
}

.header__menu > ul li {
	position: relative;
}

.header__menu ul li:hover{
	background: #b6b6b6;
	background: linear-gradient(to bottom, #354966 0%,#1a3051 100%);
}

.iban_form button {
	margin-left:156px;
}

.iban_form label {
    width: 151px;
    margin-top: 3px;
    display: inline-block;
    padding: 3px;
}

.iban_form {
	display: flex; 
	justify-content: center;
	margin-top: 20px;
}

.iban_form ul {
	width: 700px;
    list-style-type: none;
    list-style-position: outside;
    margin: 0px;
    padding: 0px;
}

.iban_form li {
    border-bottom: 1px solid #eee;
    position: relative;
    padding: 12px 30px;
}

.iban_form li:first-child, .iban_form li:last-child {
    border-bottom: 1px solid #777;
}

button.submit {
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    padding: 11px 25px;
    background-color: #1a4d9a;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #003580;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	-ms-border-radius: 2px;
	-o-border-radius: 2px;
	width: 310px;
}
button.submit:hover {

	cursor: pointer; 
	background-color: #003580;
}
button.submit:active {
	border: 1px solid #20911e;
	box-shadow: 0 0 10px 5px #356b0b inset; 
	-webkit-box-shadow:0 0 10px 5px #356b0b inset ;
	-moz-box-shadow: 0 0 10px 5px #356b0b inset;
	-ms-box-shadow: 0 0 10px 5px #356b0b inset;
	-o-box-shadow: 0 0 10px 5px #356b0b inset;
	
}

.success_iban {
	margin: 30px 0px 0px 18px;
	font-size: 14px;
	padding: 2px 32px;
	background: rgba(16, 218, 0, 0.26);
	border: 1px solid #5CD200;
	width: 616px;
	font-family: georgia;
}

.success_iban_code {
	display: inline-block;
	padding-left: 95px;
	font-size: 19px;
	font-family: initial;
}

.error_iban {
	margin: 30px 0px 0px 18px;
	font-size: 15px;
	padding: 2px 0;
	background: #fcc;
	color: #200;
	width: 680px;
	border: 1px solid #d77;
    text-align: center;
}

.dcsv {
    background: url(../img/csv.png);
    height: 42px;
    width: 38px;
	margin: -10px -25px 0 0;
    float: right;
	cursor:pointer;
}
.dcsv:hover  {
    background: url(../img/csv-h.png);
}


.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 700px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}

.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}

input[type="checkbox"]:disabled {
    border-color: #eee;
	pointer-events: none;
    background: rgb(226, 73, 73);
}

.s__btn {
	box-sizing: border-box;
	appearance: none;
	background-color: transparent;
	border: 2px solid #5dd6a4;
	border-radius: 0.6em;
	color: #5dd6a4;
	cursor: pointer;
	line-height: 1;
	/* margin: 20px; */
	padding: 0.3em 0.4em;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	font-weight: 700;
}
